<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/monitor.css">
    <link rel="stylesheet" href="/css/drip_nav.css">
    <link rel="stylesheet" href="/css/display_download.css">
    <link rel="stylesheet" href="/css/monitor_mobile.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="monitor_body">

    <div class="left_header_container">
        {{>nav_sprinkler}}
    </div>

    <div class="monitor_maincontainer">
        <header class="monitor_header">Sprinkler Display and Download</header>
        <div class="display_selecteddate_container">

            <div class="date_download_buttons">
                <div class="display_date_data">
                    <h1>Display Data</h1>
                    <form action="/select_date_sprinkler" method="POST" id="searchForm">
                        <label class="selectdate_label">Select Start Date:</label>
                        <input class="input_date" type="date" id="startDate" name="startDate">
                        <label class="selectdate_label">Select End Date:</label>
                        <input class="input_date" type="date" id="endDate" name="endDate">
                        <button class="download_button" type="submit"><i class="fas fa-search"></i> Search Date</button>
                    </form>

                      <form id="valueForm" method="POST" action="/select_value_sprinkler">
                        <label class="selectdate_label">Select a value (0-100):</label>
                        <input class="input_number" type="number" id="valueInput" name="valueInput" min="0" max="100">
                        <button class="download_button" type="submit" id="showValueData"><i class="fas fa-search"></i> Search Value</button>
                    </form>
                </div>
                 <div class="download_date_data">
                    <h1>Download Data</h1>
                    <form action="/download_sprinkler" method="post" id="downloadForm">
                        <label class="selectdate_label">Select Start Date:</label>
                        <input class="input_date" type="date" id="downloadStartDate" name="startDate" value="">
                        <label class="selectdate_label">Select End Date:</label>
                        <input class="input_date"type="date" id="downloadEndDate" name="endDate" value="">
                        <button class="download_button" type="submit"><i class="fas fa-download"></i> Download PDF</button>
                    </form>
                     <div class="download_instruction">Note: Before pressing search, make sure to select the start and end dates!</div>
                </div>
            </div>

           
            <div class="selected_date_display_values" id="displayData">
                <!-- Display the fetched data here -->
                {{#if selectedData}}
                {{#if selectedData.length}}
                <table>
                    <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Soil Moisture 1</th>
                            <th>Soil Moisture 2</th>
                            <th>Soil Moisture 3</th>
                            <th>Soil Moisture 4</th>
                            <!-- Add more fields as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        {{#each selectedData}}
                        <tr>
                            <td>{{this.timestamp}}</td>
                            <td>{{this.field3}}</td>
                            <td>{{this.field4}}</td>
                            <td>{{this.field5}}</td>
                            <td>{{this.field6}}</td>
                            <!-- Add more fields as needed -->
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <p>No data available for the selected value.</p>
                {{/if}}
                {{else}}
                {{#unless selectedData}}
                <p>Please select a value.</p>
                {{/unless}}
                {{/if}}
            </div>
        </div>
    </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchForm = document.getElementById('searchForm');
    const downloadForm = document.getElementById('downloadForm');
     const valueForm = document.getElementById('valueForm');

    // Event listener for search form submission
    searchForm.addEventListener('submit', function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Get the selected start and end dates
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        // Set the values of the hidden inputs in the download form
        document.getElementById('downloadStartDate').value = startDate;
        document.getElementById('downloadEndDate').value = endDate;

        // Submit the search form
        searchForm.submit();
    });

    // Event listener for download form submission
    downloadForm.addEventListener('submit', function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Submit the download form
        downloadForm.submit();
    });
      valueForm.addEventListener('submit', function(event) {
                    // Prevent the default form submission behavior
                    event.preventDefault();

                    // Submit the value form
                    valueForm.submit();
                });
});

</script>

</body>

</html>
