
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/monitor.css">
    <link rel="stylesheet" href="/css/drip_nav.css">
        <link rel="stylesheet" href="/css/display_download.css">
                <link rel="stylesheet" href="/css/monitor_mobile.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"  crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body class="monitor_body">

    <div class="left_header_container">
          {{>nav_sprinkler}}
       
    </div>


    <div class="monitor_maincontainer">
            <header class="monitor_header">Sprinkler Dispaly and Download</header>
            <div class="display_selecteddate_container">
            
                <div class="date_download_buttons">
                    <form action="/select_date_sprinkler" method="POST">
                        <label class="selectdate_label">Select a Date:</label>
                        <input class="input_date" type="date" id="selectedDate" name="selectedDate"></input>
                    </form>

                    <form action="/download_sprinkler" method="post">
                        <input type="hidden" id="date" name="date" value="{{selectedDate}}">
                        <button class="download_button" type="submit"><i class="fas fa-download"> </i> Download PDF</button>
                    </form>
                </div>

                 <div class="download_instruction">Note: Before pressing download, make sure to select the date first!</div>
                <div class="selected_date_display_values" id="displayData">
                    <!-- Display the fetched data here -->
                {{#if selectedData}}
                    {{#if selectedData.length}}
                        <table>
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Soil Moisture 1</th>
                                    <th>Soil Moisture 2</th>
                                    <th>Soil Moisture 3</th>
                                    <th>Soil Moisture 4</th>
                                    <!-- Add more fields as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                {{#each selectedData}}
                                    <tr>
                                        <td>{{this.timestamp}}</td>
                                        <td>{{this.field3}}</td>
                                        <td>{{this.field4}}</td>
                                        <td>{{this.field5}}</td>
                                        <td>{{this.field6}}</td>
                                        <!-- Add more fields as needed -->
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    {{else}}
                        <p>No data available for the selected date.</p>
                    {{/if}}
                {{else}}
                    {{#unless selectedDate}}
                        <p>Please select a date.</p>
                    {{/unless}}
                {{/if}}
                </div>
            </div>
                <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const dateInput = document.getElementById('selectedDate');
                    const form = document.querySelector('form');

                    // Event listener for changes in the date input
                    dateInput.addEventListener('input', function () {
                        form.submit();
                    });
                });
            </script>
    </div>
        


</body>

</html>
